:root{
  --teal: rgba(0, 220, 220, 0.74);
  --pink: rgba(223, 94, 199, 0.677);
}

/* Body, all text */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Header and display time */
header {
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 220, 220, 0.74);
  border: 2px black solid;
  border-radius: 5px;
}
/* All elements bellow the header */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 0 0;
}
/* h1-h3 */
h1 {
  font-size: 35px;
}
h2 {
  font-size: 20px;
  font-weight:600;
}
h3 {
  font-size: 20px;
}
/* Aside */
.aside {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  width: 25%;
  height: fit-content;
}
.aside > * {
  margin: 10px 0 10px 0;
}
/* main content */
.main-content {
  padding: 20px;
}
/* The lower end of the body section, all forecast weather inside this block */
.forecast-weather {
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}
/* class future weather blocks */
.forecast-weather-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* ID Future weather blocks */
#future_block_1,
#future_block_2,
#future_block_3,
#future_block_4,
#future_block_5,
#future_block_6 {
  padding: 30px;
}
/* Elements inside the future weather blocks */
#future_block_1 div,
#future_block_2 div,
#future_block_3 div,
#future_block_4 div,
#future_block_5 div,
#future_block_6 div {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Current weather */
.current-weather-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}
#current-weather {
  display: flex;
  flex-direction: row;
 justify-content: space-around;
  padding: 20px;
  border: solid 4px var(--pink);
  width: 100%;
  border-radius: 30px;
}

/* UV classes */
.defaultUV{
  background-color: rgb(255, 255, 255);
  padding: 2.5px;
}
.uvI2{
background-color: rgb(68, 136, 68);
padding: 2.5px;
border-radius: 25%;
}
.uvI5{
background-color: rgb(211, 214, 45);
padding: 2.5px;
border-radius: 25%;
}

.uvI7{
 background-color: rgb(255, 177, 22);
 padding: 2.5px;
 border-radius: 25%;
  }
.uvI9{
 background-color: rgb(255, 102, 0);
 padding: 2.5px;
 border-radius: 25%;
   }
.uvI11{
 background-color: rgb(255, 1, 1);
 padding: 2.5px;
 border-radius: 25%;
   }
.uvI12{
 background-color: rgb(184, 0, 150);
 padding: 2.5px;
 border-radius: 25%;
   }
      
/* Local storage results */
.historyElBttn{
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 10px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: var(--pink);

  }
  /* search button */
  #searchBttn{
      padding: 3px;
    margin: 10px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: var(--teal);
  }
/* input field */
  #searchBar{
    border:3px var(--pink) solid;
    border-radius: 5px;
  }